/* index.css */

/* Definición de la paleta de colores y fuentes en :root */
:root {
    --color-principal: #4CAF50;
    --color-secundario: #333;
    --color-fondo: #f9f9f9;
    --color-texto: #333;
    --color-texto-claro: #fff;
    --color-borde: #ccc;
    --color-hover: #45a049;
    --color-card-login: #f0f0f0;
    --font-principal: 'Arial, sans-serif';
    --font-secundaria: 'Verdana, sans-serif';
    --color-body: #2f4134;
}

body {
    background-color: var(--color-body);
}

/* Estilos para el contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30rem;
    margin: 0 auto;
    background-color: var(--color-card-login);
    border-radius: 0.5rem;
    margin-top: 10rem;
}

/* Estilos para el título del formulario */
.form-container__title {
    text-align: center;
    font-size: 2rem;
    color: var(--color-principal);
    font-family: var(--font-secundaria);
}

/* Estilos para el formulario */
.form-container__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Estilos para los campos del formulario */
.form-container__field {
    
}

/* Estilos para los inputs del formulario */
.form-container__input {
    width: 15rem;
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 3px;
    font-family: var(--font-principal);
    color: var(--color-texto);
}

/* Estilos para el botón de envío del formulario */
.form-container__button {
    margin: 0 auto;
    width: 15rem;
    padding: 10px;
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    border: none;
    border-radius: 3px;
    font-family: var(--font-principal);
}

.form-container__button:hover {
    background-color: var(--color-hover);
}

/* Estilos para el enlace de registro */
.form-container__link {
    text-align: center;
    color: #17181c;
    text-decoration: none;
    font-family: var(--font-principal);
}
.form-container__linkspan {
    color: var(--color-principal);
    margin-left: 0.5rem;
}


