body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.user-info, .user-products {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

.user-products h2 {
    margin-bottom: 20px;
}

#productos h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.producto {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: center; /* Center the content */
}

.producto h3 {
    margin: 0;
}

.producto p {
    margin: 5px 0;
}

.producto img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 10px auto; /* Add margin-top and center the image */
}

.trade-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 10px; /* Add margin-top */
}

.trade-button:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
}

form input, form textarea, form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
