/* registro.css */

/* Definición de la paleta de colores y fuentes en :root */
:root {
    --color-principal: #4CAF50;
    --color-secundario: #333;
    --color-fondo: #f9f9f9;
    --color-texto: #333;
    --color-texto-claro: #fff;
    --color-borde: #ccc;
    --color-hover: #45a049;

    --font-principal: 'Arial, sans-serif';
    --font-secundaria: 'Verdana, sans-serif';
}

/* Estilos para el contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: auto;
    background-color: var(--color-fondo);
    margin: 0 auto;
    margin-top: 10rem;
    padding: 2rem;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
}

/* Estilos para el título del formulario */
.form-container__title {
    text-align: center;
    font-size: 2rem;
    color: var(--color-principal);
    font-family: var(--font-secundaria);
}

/* Estilos para el formulario */
.form-container__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

/* Estilos para los campos del formulario */
.form-container__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Estilos para las etiquetas del formulario */
.form-container__label {
    font-family: var(--font-principal);
    color: var(--color-texto);
}

/* Estilos para los inputs del formulario */
.form-container__input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 3px;
    font-family: var(--font-principal);
    color: var(--color-texto);
}

/* Estilos para el botón de envío del formulario */
.form-container__button {
    margin: 0 auto;
    width: 15rem;
    padding: 10px;
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    border: none;
    border-radius: 3px;
    font-family: var(--font-principal);
    cursor: pointer;
}

.form-container__button:hover {
    background-color: var(--color-hover);
}
